@import url('https://fonts.googleapis.com/css?family=Fredoka+One&display=swap');


body {
	font-family: 'Fredoka One'; 
	font-size: 15px; 
	color: orange;
	text-align: center; 
	/* background-image: url("https://mir-s3-cdn-cf.behance.net/project_modules/disp/89e5e711700091.560fc00b871d1.jpg");*/
}

h1 {
	font-size: 200px;
	color: orange;
	margin: 50px; 
	background: pink;
	padding: 0px;
}

#slogan {
	font-family: 'Fredoka One'; 
	font-style: bold; 
	font-size: 50px;
	display: inline-block; 
	padding: 0px; 
}

p {
	font-style: bold;
	font-size: 25px;
}

.services {
	font-size: 30px;
	color: orange;
	list-style: none;
	background-color; white;
}

.services_item {
	display: inline;
	padding: 20px;
	margin: 10px;
	background: orange;
	color: white; 
}

.client_work {
	color: black;
	list-style: none; 
}

.business_name {
	display: inline-block;
	margin: 100px;
	color: orange;
}

.work_description {
	display: inline-block;
	margin: 0px 20px;  
	color: orange;
	border: 1px orange solid;
	padding: 50px;
}

.client_quotes {
	margin: 0px 200px;
	color: orange;
	font-style: italic;
}

.bio {
	margin: 0px 200px 10px 200px; 
	color: orange;
}

#two_column {
	padding: 1px;
	margin: 0px 100px;

}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0px;
	content: " ";
	clear: both; 
	height: 0px; 
}

#left {
	background-color: pink;
	border: 1px red solid;
	padding: 10px; 
	margin: 10px; 
	float: left;
	width: 25%;
	vertical-align: middle;
}

#right {
	background-color: pink;
	border: 1px red solid;
	padding: 10px;
	margin: 100px;
	float: right;
	width: 62% 
	color: black;
	vertical-align: middle;
}

img {
	border-radius: 50%;
	width: 50px;

}


.social_media {
	list-style: none; 
}

.social_media_links {
	display: inline-block; 
	color: orange; 
	padding: 10px;
	border: 10px pink solid;
}

hr {
	border: 1px pink solid; 
	margin: 100px 150px 
}